<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="805d5a2f-a779-4617-b2c5-4348b7f54bfa" name="https://restcountries.eu" type="rest" wadlVersion="http://wadl.dev.java.net/2009/02" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="805d5a2f-a779-4617-b2c5-4348b7f54bfafileName">https%3A%2F%2Frestcountries.eu</con:setting></con:settings><con:definitionCache rootPart="" type="TEXT"/><con:endpoints><con:endpoint>https://restcountries.eu</con:endpoint></con:endpoints></con:interface>